body {
  background-image: url(assets/gradient.webp);
  color: rgb(208, 197, 185);
  display: flex;
}

.formSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
}

.field {
  border-color: rgb(142, 130, 118);
  border-radius: 10px;
}

.join {
  margin: 20px 10px;
  border-style: none;
}

.name {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

#fullname {
  background-image: url(../assets/gradient.webp);
  border-color: rgb(208, 197, 185);
  color: rgb(208, 197, 185);
}

#email {
  background-image: url(../assets/gradient.webp);
  background-blend-mode: darken;
  border-color: rgb(208, 197, 185);
  color: rgb(208, 197, 185);
}

#rank-select {
  background-color: rgb(81, 42, 22);
  border-color: rgb(208, 197, 185);
  color: rgb(208, 197, 185);
}

#textarea {
  background-color: rgb(81, 42, 22);
  border-color: rgb(208, 197, 185);
  color: rgb(208, 197, 185);
}

.email {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
}

.playdota {
  margin: 20px auto;
}

.have {
  margin-bottom: 10px;
}

.addinform {
  margin: 20px 10px;
  border-style: none;
}

.rank {
  display: flex;
  flex-direction: column;
}

.rank p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.rank select {
  margin-top: 10px;
  margin-bottom: 15px;
}

.wdyt {
  margin-bottom: 15px;
}

.wdyt p {
  margin-bottom: 10px;
}

.tellus {
  margin-bottom: 15px;
}

.tellus p {
  margin-bottom: 10px;
}

.upload {
  margin-bottom: 15px;
}

.upload p {
  margin-bottom: 10px;
}

.submit {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
